@use "sass:math";
@use '../utils/functions' as *;
@use '../utils/vars' as *;
@use '../mixins' as *;
@use '../variables' as vars;

.mouse-image {
    z-index: 25;
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
    display: block;
    left: 55%;
  //  overflow: hidden;
    transition: width .4s cubic-bezier(0.36, 0, 0.66, 0);
    left: 0%;
    will-change: transform, width;
    // background-color: var(--primary);
    width: 0px;
    height: 0px;
    border-radius: 100%;
    &::before{
        display: block;
        content: "";
        padding-top: 100%; 
    }
    @media screen and (max-width: $tablet) {
        display: none;
    }
    &.active {
        border-radius: 0;
        width: clamp(10em, 27.5vw, 25em);
        height: auto;
        transition: width .4s cubic-bezier(0.34, 1, 0.64, 1);
    }
    &__bounce {
        overflow: hidden;
        transform: scale(1) rotate(.001deg);
        transition: all .5s cubic-bezier(0.65, 0, 0.35, 1);
        will-change: transform;
        
        
        &.active {
            transform: scale(1) rotate(.001deg);
        }
    }
    &__float-wrap {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        will-change: transform;
        
    }
    &__image-inner {
        position: relative;
        width: 100%;
        display: block;
        overflow: hidden;
        
        &::before{
            display: block;
            content: "";
            padding-top: 100%;
        }
        &.visible {
            width: 100%;
        }
        .item-latest-work__image  {
            top: 47%;
        }
        .item-latest-work__color {
            border-radius: .5em;
            overflow: hidden;
        }
        .item-latest-work__images {
            opacity: 1;
        }
    }
}
.overlay {
    position: absolute;
    top: -10%;
    left: 0;
   height: 100%;
    width: 100%;
}
//========================================================================================================================================================
.mouse-btn,
.mouse-span {
    width: 0px;
    height: 0px;
    border-radius: 50%;
    border: 0;
    background-color: var(--primary);
   // background: linear-gradient(90deg, #fa5c33, #ffef62, #ffc852, #f45639, #ffdd44);
  //  backdrop-filter:  blur(20px);
 //   -webkit-backdrop-filter: blur(20px);
    position: fixed;
    z-index: 26;
    pointer-events: none;
    transform: translate(-50%, -70%);
    overflow: hidden;
    display: block;
    transition: width .4s cubic-bezier(0.36, 0, 0.66, 0), height .4s cubic-bezier(0.36, 0, 0.66, 0);
    left: 50.5%;
    top: -10%;
    left: -10%;
    left: 0%;
    top: 0%;
    will-change: transform, width, height;
    &.active {
        width: clamp(2.75em, 5.5vw, 5em);
        height: clamp(2.75em, 5.5vw, 5em);
        transition: width .4s cubic-bezier(0.34, 1, 0.64, 1), height .4s cubic-bezier(0.34, 1, 0.64, 1);
    }
    &.active-big {
        width: calc(clamp(2.75em, 5.5vw, 5em) * 1.43);
        height: calc(clamp(2.75em, 5.5vw, 5em) * 1.43);
        transition: width .4s cubic-bezier(0.34, 1, 0.64, 1), height .4s cubic-bezier(0.34, 1, 0.64, 1);
    }
    &.active-big.hover {
        width: calc(clamp(2.75em, 5.5vw, 5em) * 1.45);
        height: calc(clamp(2.75em, 5.5vw, 5em) * 1.45);
    }
    &.active.pressed {
        height: calc(clamp(2.75em, 5.5vw, 8em) * 1.1);
        width: calc(clamp(2.75em, 5.5vw, 8em) * 1.1);
    }
    &.active-big.pressed {
        height: calc(clamp(2.75em, 5.5vw, 8em) * 2);
        width: calc(clamp(2.75em, 5.5vw, 8em) * 2);
    }
    @media screen and (max-width: $tablet) {
        display: none;
    }
}
.mouse-span {
    background: transparent;
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    left: 49.75%;
    top: -11.25%;
    left: -11.25%;
    left: 0%;
    top: 0%;
    p {
        margin: 0;
        display: flex;
        flex-direction: row-reverse;
        gap: toEm(3);
        font-size: 0em;
        
        will-change: font-size;
        &::before{
            transition: font-size .4s cubic-bezier(0.36, 0, 0.66, 0);
            transform: rotate(-45deg);
            font-size: 0px;
            color: var(--color-white);
        }
    }
    .arrow,
    .btn .arrow {
        width: 0em;
        transform: rotate(-90deg) translateX(-.05em);
        margin-left: .33em;
        display: inline-flex;
        position: relative;
        transition: width .4s cubic-bezier(0.36, 0, 0.66, 0);
        will-change: width;
    }
    &.active-big .arrow,
    &.btn .arrow {
        width: .66em;
        transition: width .4s cubic-bezier(0.34, 1, 0.64, 1);
    }
    &.active,
    &.active-big {
        border-radius: 0;
        width: clamp(12em, 27.5vw, 25em);
        transition: width .4s cubic-bezier(0.34, 1, 0.64, 1), height .4s cubic-bezier(0.34, 1, 0.64, 1);
    }
    &.active p,
    &.active-big p {
            font-size: toEm(18);
        &::before{  
            font-size: toEm(24);
            transition: font-size .4s cubic-bezier(0.34, 1, 0.64, 1);
          }
    } 
    @media screen and (max-width: $tablet) {
        display: none;
    }
    &.active-big {
        .icon-Right {
            display: none;
        }
        .mouse-span__link,
        .mouse-span__next {
            transition: all .4s cubic-bezier(0.34, 1, 0.64, 1);
            display: block;
            color: var(--color-white);
        }
    }
    &__link,
    &__next {
        transition: all .4s cubic-bezier(0.34, 1, 0.64, 1);
        display: none;
    }
    
}
